APP_NAME="Berca Web App"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=your_domain_url

DEBUGBAR_ENABLED=true

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

DB_HOST_PAMERAN=127.0.0.1
DB_PORT_PAMERAN=5432
DB_DATABASE_PAMERAN=
DB_USERNAME_PAMERAN=
DB_PASSWORD_PAMERAN=

DB_CONNECTION_LOCAL_EXCO=mysql
DB_HOST_LOCAL_EXCO=127.0.0.1
DB_PORT_LOCAL_EXCO=3306
DB_DATABASE_LOCAL_EXCO=
DB_USERNAME_LOCAL_EXCO=
DB_PASSWORD_LOCAL_EXCO=

DB_CONNECTION_BMP_EXCO=mysql
DB_HOST_BMP_EXCO=
DB_PORT_BMP_EXCO=
DB_DATABASE_BMP_EXCO=
DB_USERNAME_BMP_EXCO=
DB_PASSWORD_BMP_EXCO=

DB_CONNECTION_LOCAL_LOGIN=mysql
DB_HOST_LOCAL_LOGIN=127.0.0.1
DB_PORT_LOCAL_LOGIN=3306
DB_DATABASE_LOCAL_LOGIN=
DB_USERNAME_LOCAL_LOGIN=
DB_PASSWORD_LOCAL_LOGIN=

DB_CONNECTION_BMP_LOGIN=mysql
DB_HOST_BMP_LOGIN=
DB_PORT_BMP_LOGIN=
DB_DATABASE_BMP_LOGIN=
DB_USERNAME_BMP_LOGIN=
DB_PASSWORD_BMP_LOGIN=

DB_CONNECTION_AIS=mysql
DB_HOST_AIS=
DB_PORT_AIS=
DB_DATABASE_AIS=
DB_USERNAME_AIS=
DB_PASSWORD_AIS=

ODBC_DSN=
ODBC_USERNAME=
ODBC_PASSWORD=

PROGRESS_DSN=
PROGRESS_DB_USERNAME=
PROGRESS_DB_PASSWORD=

DATATABLES_ERROR=throw

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public

QUEUE_CONNECTION=database
QUEUE_DATABASE=

SESSION_DOMAIN=
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Berca Web App"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

APP_TIMEZONE=Asia/Jakarta
APP_LOCALE=id
FAKER_LOCALE=id_ID

SHARED_SECRET_KEY=
CROSS_APP_KEY=
API_KEY=